body {
    margin: 0;
    background-color:  white;
}
/* aside */
aside{background-color: #aab1ad98; width: 25%;height: 100vh;}
#divfoto{width: 100%; height: 10vh;}
#foto{width: 80%;  border-radius: 75%; height: 25vh; padding: 10%;}